.container {
  display: flex;
}

.grid {
  width: 400px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: dimGray;
}

.grid div {
  height: 40px;
  width: 40px;
}

.tetromino {
  background-color: darkSalmon;
  border-radius: 20px;
}


.mini-grid {
  margin-left: 100px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  background-color: dimGray;
}

.mini-grid div {
  height: 40px;
  width: 40px;

}
